.message {
  display: flex;
  flex-direction: column;
  border: 1px solid $text-primary;
  border-radius: 1rem;
  max-width: 50%;
  padding: 1.1rem;
  margin: 3.2rem 0;

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__body {
    font-size: 1.8rem;
  }
}

.message-left {
  text-align: left;
}

.message-right {
  margin-left: auto;
}
